[submodule "embit"]
	path = vendor/embit
	url = https://github.com/privkeyio/embit.git
[submodule "firmware/Kboot"]
	path = firmware/Kboot
	url = ../../selfcustody/Kboot
[submodule "firmware/MaixPy"]
	path = firmware/MaixPy
	url = ../../selfcustody/MaixPy
